.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background: #1f2937;
}

.logo {
  color: #fff;
}

.links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.links a:hover {
  color: #22c55e;
}
